<div class="form card dictionaries">
  <h2>Languages</h2>
  <% @dictionaries.each do |dictionary| %>
    <div class="field"><%= link_to dictionary.name, choose_dictionary_path(dictionary), method: :post %></div>
  <% end %>
  <div class="actions">
    <%= link_to 'New Dictionary', new_dictionary_path, class: :button %>
  </div>
</div>
