@import "variables.scss";


.card.test {
  width: 95%;
  max-width: 600px;
  height: 90%;
  max-height: 400px;
  flex-grow:1;
  background:white;
}
.answers {
  display:flex;
  flex-flow: wrap;
  margin-left:-10px;
  flex-grow:1;
}
.question {
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:50px;
  flex-grow:1;
}
.answer {
  font-size:30px;
  flex-grow:1;
  text-transform:none;
  font-family:$serif;
  margin-left:10px;
}
.translation {
  color: #00d72b;
}
.pronunciation {
  font-style:italic;
}
.answered .selected {
  background:red;
  color:white;
}
.answered .correct-answer {
  background:#9f9;
  color:white;
}
