@import "variables.scss";

body, td, button, input, textarea {
  font-family:$serif;
  color:$text-color;
}
html, body {
  background: $background;
}

.brand {
  color: white;
  font-family: serif;
  font-weight: normal;
  font-style: italic;
  margin: 10px;
  text-shadow: 0 -1px 1px #A8D7B9;
}