<% content_for :content do %>
<% if flash[:notice].present? %>
  <div class="flash flash-notice devise-flash">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="flash flash-alert devise-flash">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="form devise card">
  <%= yield %>
</div>
<% end %>
<%= render template: 'layouts/application' %>